@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  

  --color-primary: #6366f1;
  --color-primary-dark: #4338ca;
  --color-primary-light: #a5b4fc;

  --color-secondary: #ec4899;
  --color-secondary-dark: #be185d;
  --color-accent: #fbbf24;

  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --color-bg-light: #f9fafb;
  --color-bg-dark: #111827;
  --color-surface: #ffffff;
  --color-border: #e5e7eb;

  --color-text-title: #1f2937;
  --color-text-body: #374151;
  --color-text-muted: #6b7280;
}
 
body{
  margin: 0px;
  padding: 0px;
}